{% load mathfilters%}

<table class="table nutri-table mt-3" style="">
    <thead style="background-color:rgb(183, 230, 203)">
        <th style="width:2.5em"></th>
        <th style="width:340px; word-wrap: break-word;">Нутриент</th>
        <th>кол-во</th>
        <th>РСП</th>
        <th>% РСП</th>
    </thead>
    <tbody>
        
        <!-- <td rowspan=8 class='td-sidebar' style="background-color:rgb(221, 100, 100);"><div>Макронутриенты</div></td> -->
        
        {% regroup food.food_nutrients by type_name_rus_plural_nominative as types %}
        {% for type in types %}
        <td rowspan={{type.list|length|add:1}} class='td-sidebar' style="background-color:{{type.list.0.color}};"><div>{{type.grouper}}</div></td>
                {% for food_nutrient in type.list %}
                    {% include 'foods/_nutrient_table_row.html' %}
                {% endfor %}
        {% endfor %}

        
    </tbody>
</table>