{% extends '_base.html' %}

{% block content %}

<div class='foods-main' style="display:flex; gap:100px">
    {% include 'foods/_category_menu.html' %}
    <div class="article-main d-flex flex-column">
        {% regroup foods by category_name as cats %}
        {% for cat in cats %}
        <div class="row w-100 mb-5">    
            <div class='col-sm-12'>{{cat.grouper}}</div>
                {% for food in cat.list %}
                   
                    <div class='col-sm-12 col-lg-6'>
                        <a href="{% url 'foods:compare_foods' primary_slug=food_slug secondary_slug=food.slug %}">{{food.name}}</a>
                    </div>
                 
                {% endfor %}
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}