{% extends '_base.html' %}

{% load static mathfilters %}

{% block content %}


<div class='foods-main' style="display:flex; gap:100px">
    {% include 'foods/_category_menu.html' %}
    <div class="food-main">
        <div class="compare-block block-shadow px-4 py-3" style="display:flex; gap:20px; align-items: center">
            <div class="position-ralative">
                <input 
                    id="input-1"
                    class='exp-input exp-input-required form-control form-control-lg auto-search' 
                    type="text"  
                    placeholder="название продукта..."
                    onclick="get_suggestions(event)"
                    onkeyup="get_suggestions(event)">
                <div id='suggestions-Item' class="suggestions"></div>
            </div>
            <div style="width:max-content; white-space:nowrap;">Сравнить с:</div>
            <div class="position-ralative">
                <input 
                    id='input-2'
                    class='exp-input exp-input-required form-control form-control-lg auto-search' 
                    type="text"  
                    placeholder="название продукта..."
                    onclick="get_suggestions(event)"
                    onkeyup="get_suggestions(event)">
                <div id='suggestions-Item' class="suggestions"></div>
            </div>
            <button class="btn btn-primary" onclick="compare_products()">Сравнить</button>
        </div>
        <h1>{{ primary_food.name }} vs {{secondary_food.name}}</h1>
        <div class="food-comparison-block">
        
            <div class="mb-5">
                <h3 class="text-center mb-4">Макронутриенты</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Macro' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Водорастворимые витамины</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Vitamin_water' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Жирорастворимые витамины</h3>
                {% for p_food, s_food in all_food_nutrients  %}
                    {% if p_food.type_name == 'Vitamin_fat' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Минералы</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Mineral' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Жирные кислоты</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Fatty_acid' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            
            </div>
        </div>
    </div>
</div>



<script>
    var suggestions_url = '{% url "foods:compare_food_suggestions" %}'
    $(window).on('DOMContentLoaded', ()=>{
        input_1 = document.getElementById('input-1')
        input_2 = document.getElementById('input-2')
        input_1.value = '{{primary_food.name}}'
        input_1.setAttribute('data-slug', '{{primary_food.slug}}')
        input_2.value = '{{secondary_food.name}}'
        input_2.setAttribute('data-slug', '{{secondary_food.slug}}')
    })

    function compare_products(){
        foods = [document.getElementById('input-1').dataset.slug,
                document.getElementById('input-2').dataset.slug].sort()
        primary = foods[0]
        secondary = foods[1]

        url = '/foods/' + primary + '-vs-' + secondary + '/'
        window.location = url
        
    }
</script>
{% endblock %}