{% extends '_base.html' %}

{% load static mathfilters %}

{% block content %}


<div class='foods-main' style="display:flex; gap:100px">
    {% include 'foods/_category_menu.html' %}
    <div class="food-main">
        <div class="compare-block block-shadow px-4 py-3" style="display:flex; gap:20px; align-items: center">
            <select class='form-select' id='comparison-primary-select'>
                {% for food in comparison_foods %}
                <option value='{{food.slug}}'>{{ food.name }}</option>
                {% endfor %}
            </select>
            <div style="width:max-content; white-space:nowrap;">Сравнить с:</div>
            <select class='form-select' id='comparison-secondary-select'>
                {% for food in comparison_foods %}
                <option value='{{food.slug}}'>{{ food.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" onclick="compare_products()">Сравнить</button>
        </div>
        <h1>{{ primary_food.name }} vs {{secondary_food.name}}</h1>
        <div class="food-comparison-block">
        
            <div class="mb-5">
                <h3 class="text-center mb-4">Макронутриенты</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Macro' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Водорастворимые витамины</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Vitamin_water' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Жирорастворимые витамины</h3>
                {% for p_food, s_food in all_food_nutrients  %}
                    {% if p_food.type_name == 'Vitamin_fat' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Минералы</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Mineral' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mb-5">
                <h3 class="text-center mb-4">Жирные кислоты</h3>
                {% for p_food, s_food in all_food_nutrients %}
                    {% if p_food.type_name == 'Fatty_acid' and p_food.nutrient.display %}
                        {% include 'foods/_comparison_block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            
            </div>
        </div>
    </div>
</div>



<script>
    $(window).on('DOMContentLoaded', ()=>{
        $("#comparison-primary-select").val('{{primary_food.slug}}')
        $("#comparison-secondary-select").val('{{secondary_food.slug}}')
    })

    function compare_products(){
        foods = [document.getElementById('comparison-primary-select').value,
                document.getElementById('comparison-secondary-select').value].sort()
        primary = foods[0]
        secondary = foods[1]

        url = '/foods/' + primary + '-vs-' + secondary + '/'
        window.location = url
        
    }
</script>
{% endblock %}