<div class="modal fade" id="sign-up-modal" tabindex="-1" aria-hidden="true">
        
    <div class="modal-dialog">
      <div class="modal-content">
        
          <div class="modal-header">
            <p style="font-size:2.5rem; margin:auto">Регистрация</p>

          </div>
          
        <div class="modal-body">
          <form class='validity' method="POST" action="{% url 'users:register' %}" id="sign-up-form" autocomplete="off">
            {% csrf_token %}
            <div class="container mb-3">
              <input type="text" class="form-control" placeholder="Email" name="email">
              <span id="sign-up-email-error" class="error"></span>
            </div>
            <div class="container mb-3">
              <input type="password" class="form-control" placeholder="Пароль" name="password1">
              <!-- <span id="pass1-error" class="error black">Не менее 8 символов</span> -->
            </div>
            <div class="container mb-3">
              <input type="password" class="form-control" placeholder="Пароль" name="password2">
              <span id="pass2-error" class="error"></span>
            </div>
            <div class="container mt-3">
              <button onclick='sign_up_form_submit()' class="form-control btn btn-primary submit-sign-up-form">Зарегистрироваться</button>

            </div>
        </form>

        </div>
        <div class="modal-footer" >
          
          <div class="container" style="display:flex; justify-content: right;">
            <a href="" class="no-underline-link" aria-current="page" data-bs-toggle="modal" data-bs-target="#sign-in-modal">Войти</a>
          </div>
        
        </div>
      </div>

</div>
</div>
