{% load static %}

<div class="sidebar">
    <a href='#' class="sidebar-icon">
        <img width=24 height=24 src="{% static 'icons/dashboard.png' %}"/>
    </a>
    <a href='#' class="sidebar-icon">
        <img width=24 height=24 src="{% static 'icons/journal.png' %}"/>
    </a>
    <a href='#' class="sidebar-icon">
        <img width=24 height=24 src="{% static 'icons/recipe-book.png' %}"/>
    </a>
    <a href='#' class="sidebar-icon">
        <img width=24 height=24 src="{% static 'icons/settings.png' %}"/>
    </a>
</div>