{% extends '_base.html' %}
{% load static %}


{% block content %}


<div class="index-grid">
<div class="ig-search block-shadow p-4">
    <div class='ig-search-block'>
        <h3>Узнайте, что вы едите:</h3>
        <div class="position-ralative">
            <input 
                class='exp-input exp-input-required form-control form-control-lg auto-search' 
                type="text"  
                placeholder="название продукта..."
                onclick="get_suggestions(event)"
                onkeyup="get_suggestions(event)">
            <div id='suggestions-Item' class="suggestions"></div>
        </div>
    </div>
    <img height='480' width='480' src="{% static 'images/salad_no_bg.png' %}" class='index-search-img'>
</div>
<div class="ig-compare">
    compare
</div>
<div class="ig-books block-shadow p-4" style="display:flex; flex-direction:column; align-items:center">
    <a href="#" class='no-underline-link black-link hover-underline'><h4 class='mt-3' style="text-align:center;">Подборка книг по нутрициологии от гуру</h4></a>
    <img class="mt-4" height='200' width='200' src="{% static 'images/photo4.jpg' %}" style="border-radius: 1000px">
    <div class='mt-3' style="font-size:1.8rem">Олег Никифоров</div>
    <div style="text-align:center; width:90%">эксперт по восстановлению здоровья с помощью питания</div>
    <div class='w-100' style="margin-top:auto; display:flex; flex-direction:column; gap:8px">
        <div style="display:flex; justify-content:space-between">
            <div style="display:flex; gap:4px">
                <i class="bi bi-globe text-secondary"></i>
                <div class="text-secondary">Телеграм</div>
            </div>
            <div>@x6703045</div>
        </div>
        <div style="display:flex; justify-content:space-between">
            <div style="display:flex; gap:4px">
                <i class="bi bi-telegram text-secondary"></i>
                <div class="text-secondary">Сайт</div>
            </div>
            <div>nikiforoff.ru</div>
        </div>
    </div>

</div>
<!-- <div class="ig-study">
    study
</div> -->

</div>

<script>

    var suggestions_url = '{% url "foods:food_suggestions" %}'
    

</script>
{% endblock %}